body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-kerning: normal;
    margin-top: 0;
    margin: 0;
    margin-left: 25vw;
    margin-right: 25vw;
    transition: .3s;
    scrollbar-color: #0f0f0f;
    scrollbar-width: .5rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
	width: .5rem
}

body::-webkit-scrollbar-track {
	background: #242424;
}

body::-webkit-scrollbar-thumb {
	background: #0f0f0f
}

h1 {
    color:#e0a500;
}

.main {
    margin-top: 0;
    padding: 2vw;
    background-color: #1c1c1c;
    box-shadow: 1vw,1vw,#000000;
}

a, a:visited {
    opacity: 100%;
    color: #e0a500;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

.notice-brd {
    padding: 1vw;
    background-color:#242424;
    color: white;
    padding-bottom: auto;
}

li {
    color: #e0a500;
}

.hl {
    color: #e0a500;
}

footer {
    margin-top: 20%;
    bottom: 5%;
    background-color: #1c1c1c;
    padding: 2px;
    text-align: center;
}


/* MEDIA QUERIES */

@media (min-width:1281px) and (max-width:1920px) {


}

@media (min-width:1025px) and (max-width:1280px) {
    body {
        margin-left: 30vw;
        margin-right: 30vw;
    }

    footer {
        margin-top: 50vh;
        bottom: 0%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    body {
        margin-left: 0vw;
        margin-right: 0vw;
    }

    footer {
        margin-top: 45vh;
        bottom: 0%;
    }
}

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    footer {
        margin-top: 50vh;
        bottom: 0;
    }
}

@media (min-width:320px) and (max-width:767px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }

    footer {
        margin-top: 0%;
        bottom: 0%;
    }
}
