body {
    background-color: #ffb7c5;
}

.wrapper {
    color: #7c4f96;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #7c4f96;
}

a:visited {
    color: #5C3B70;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.img-main-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
    text-align: center;
    min-width: 200px;
    max-width: 70%;
}

.img-main {
    max-width: 80%;
    border: 2px solid;
    border-radius: 40px;
}

.text-main-container {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 60%;
}

footer {
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
}

.badges-container {
    padding: 10px;
}

.badge {
    border:0;
    width:88px;
    height:31px;
}

.fsq-hyperspace-container {
    padding: 10px;
}

.fsq-hyperspace-nav {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}