body {
    background-attachment: scroll;
    background-image: url("nice.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    scrollbar-color: #fafafa;
    scrollbar-width: .5rem;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #fafafa;
    margin-bottom: 25px;
}

h1 {
    color: #fafafa;
    font-size: 30px;
}

h2 {
    color: #fafafa;
    font-size: 30px;
}

h3 {
  color: #fafafa;
  font-size: 30px;
}    

h4 {
    color: #fafafa;
    font-size: 30px;
}

h5 {
 color: #fafafa;   
}

.header {
    font-size: 20px;
}

img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  box-shadoww: 5px 5px 5px 5px #fafafa;
}

a, a:visited {
    opacity: 100%;
    color: #fafafa;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
    color: #fafafa;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: #242424;
}

body::-webkit-scrollbar-thumb {
    background: #0f0f0f
}

badges {
    border-radius: 0px;
}

 @media screen and (max-width: 200px) {
  h1 {
     font-size: 18px;
  }
     
@media screen and (max-width: 200px) {
  body {
    float: none;
    zoom: 500%;
  }
 @media screen and (max-width: 200px) {
  img {
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   height: 200px;
}
