body {
    background-image: url("nice.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 16px;
    color: #fafafa;
}

h1 {
    color: #fafafa;
    font-size: 30px;
}

h2 {
    color: #fafafa;
    font-size: 30px;
}

h3 {
  color: #fafafa;
  font-size: 30px;
}    

h4 {
    color: #fafafa;
    font-size: 30px;
}

h5 {
 color: #fafafa;   
}

.header {
    font-size: 20px;
}

img {
  border: 5px solid #ff33e2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadoww: 5px 5px 5px 5px #FFFFFF;
}

a, a:visited {
    opacity: 100%;
    color: #fafafa;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

 @media screen and (max-width: 200px) {
  h1 {
     font-size: 18px
  }
     
@media screen and (max-width: 200px) {
  body {
    float: none;
    zoom: 300%;
  }
 @media screen and (max-width: 200px) {
  img {
   margin-left: auto;
   margin-right: auto;
   width: 200px;
   height: 200px;
}
