.container {
    margin: 10px;
    width: 115px;
    height: 115px;
    line-height: 115px;
    text-align: center;
    border: 1px solid red;
}
.resize_fit_center {
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

p {

  font-weight: bold;
  font-family: Times;
  font-size: 25px;
  color: rgb(238 238 238);
}

.mySlides {
margin-left: 11px;
}
.whisper {
  font-style: italic;
  color: rgb(71, 135, 138);
}

body {
  background-color: rgb(66, 62, 58);
}

* {
  box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 11.5%;
  margin-left: 10px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  border-radius: 10px;
  margin-top: 2px;
}

.active,
.demo:hover {
  opacity: 1;
  
}

.video {
  border-radius: 30px;
}
