 <style>
            img {
                width: 500px;
                border-radius: 20px;
                float: left;
                margin-right: 15px;
            }

            .user {
                font-weight: bold;
                font-size: 42px;
                color: coral;
                margin-bottom: 50px;
            }
          
            p {
                font-weight: 540;
                font-size: 23px;
                color: rgb(73, 106, 109);
            }
            
            .whisper {
                font-style: italic;
                color: rgb(71, 135, 138);
           }

             body {
                background-color: rgb(252, 234, 195);
           }

     </style>
