body {
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 16px;
    color: #c9c9c9
}

.home {
    text-align: left;
}

h1, h2, h3, h4, h5 {
    color: #9ba1ff;
    font-size: 22px;
}

.header {
    font-size: 12px;
}

img {
    border: 5px solid #9ba1ff;
}

/* FROM FINESSE */
a, a:visited {
    opacity: 100%;
    color: #9ba1ff;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}
