:root{
    --cyber-grape: #463b75ff;
    --han-purple: #5a37e6ff;
    --trypan-blue: #3e21b5ff;
    --medium-purple: #8671d9ff;
    --iris: #634ac7ff;
}

*{
    text-align: center;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}
body{ 
    background-color: black;
}

span{
    display: inline;
}

section{
    background-color: white;
    box-shadow: 5px 5px 20px var(--cyber-grape);
    border-radius: 4px;
    width: 60vw;
    margin-top: 20px;
    position: sticky;
    border: 1px solid var(--cyber-grape);
}

section {
    filter: opacity(0.9);
}

section:nth-child(2n){
    top: calc(2*40px)
}

section h1{
    text-transform: capitalize;
    border-radius: 4px;
    background-color: white;
    padding: 30px 0px;
    width: 100%;
    filter: brightness(0.95);
    box-shadow: 1px 0px 3px var(--cyber-grape);
    font-size: 2rem;
}

section p{
    display: inline;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.1rem;
    font-weight: 400;
    align-self: baseline;
    margin-bottom: 5px;
}

.todo{
    margin: 10px 30px ;
    align-self:baseline;
    list-style-type:disclosure-closed;
}

.todo li{
    display: list-item;
    align-self:baseline;
    text-align: left;
    text-indent: 15px;
}

#background{
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    filter: brightness(0.8) blur(3px);
    background-image: url("background-1.jpg");
    z-index: -100;
    background-size: 120vw;
    background-position: 50% 50%;

}
