:root{
    --cyber-grape: #463b75ff;
    --han-purple: #5a37e6ff;
    --trypan-blue: #3e21b5ff;
    --medium-purple: #8671d9ff;
    --iris: #634ac7ff;
}

*{
    text-align: center;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}
body{
    background-color: var(--iris);
}

span{
    display: inline;
}

section{
    background-color: white;
    box-shadow: 5px 5px 1px var(--cyber-grape);
    border-radius: 3px;
    width: 60vw;
    margin-top: 20px;
    padding: 30px;
}


section h1{
    font-size: 2rem;
    margin: 10px;
}

section p{
    display: inline;
    text-align: justify;
    text-indent: 15px;
    font-size: 1.1rem;
    font-weight: 400;
    align-self: baseline;
    margin-bottom: 5px;
}

.todo{
    align-self:baseline;
    list-style-type:disclosure-closed;
}

.todo *{
    display: list-item;
    align-self:baseline;
    text-align: left;
    text-indent: 15px;
}
