body{
    color: #ffff4f;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{

    text-align: center;
}
.main{
    color: #ffffff;
    background-color:rgb(43, 43, 43);
    text-align: center;
    margin: 70px;
}

a{

    color:#ec8e00;
    text-decoration: none;
    
}

a:hover{

    text-decoration:underline;
}

.content{

    background-color:#1f1f1f;
    margin:4%;

}
.content:hover{

    background-color:#ffff4f;
}

.gotcha{

    color:#1f1f1f;
    text-align:center;
}

.metacontent{

    margin:4px;
}