  body {
  background-image: url(hks.jpg);
  background-position: center;
  background-color: #242424;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  color: #FAFAFA;
  transition: 3s;
  animation: spinAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: sideways;
  background-attachment: fixed;
  }

  .main {
  margin-top: 2vh;
  margin-right: 0px;
  margin-left: 67vw;
  background-color: #1C1C1CD9;
  padding: 25px;
  }

  h1 {
  color: #e0a500;
  }
  
  h3 {
  color: #e04300;
  }
  
  @keyframes spinAnimation {
  0% {
      background-position: 0vw;
  }
  100% {
      background-position: 100vw;
   }
}
