* {
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  color: #FAFAFA;
}

h1 {
  color: #e0a500;
  text-align: center;
}
  
h2, h3 {
  color: #e04300;
  text-align: center;
}
    
a, a:visited {
  opacity: 100%;
  color: #e0a500;
  text-decoration: none;
}

a:hover {
  color: #e04300;
}

/* FLEX BOXES */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between:
}

.box {
  flex: 1;
  background-color: #1C1C1C;
  padding: 20px;
  margin-bottom: 4vh;
  margin-left: 2vw;
  margin-right: 4vw;
  margin-top: 5vh;
}

/* This is a genuis piece of code, not by me */
.break-column {
  flex-basis: 100%;
  width: 0;
}