body {
    background-color: #101010;
    background-image: url(assets/rohi.png);
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    margin-bottom: 0;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
    background-color: #121212;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.status {
    text-align: center;
    padding: 15px;
    background-color: #1c1c1c;
    color: #ffdfa3;
}

audio {
    background-color: #121212;
    color: #bf173b;
}

h1, h2 {
    color: #bf173b;
}

a, a:visited {
    opacity: 100%;
    color: #d65873;
    text-decoration: none;
}

a:hover {
    opacity: 50%;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.badges {
    background-color: #1c1c1c;
    padding: 25px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 1vh;
    background-color: #1c1c1c;
    padding: 5px;
    bottom: 0;
}

/* MEDIA QUERIES */

@media (min-width:1281px) and (max-width:1920px) {


}

@media (min-width:1025px) and (max-width:1280px) {
    body {
        margin-left: 30vw;
        margin-right: 30vw;
    }

    footer {
        margin-top: 50vh;
        bottom: 0%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    body {
        margin-left: 0vw;
        margin-right: 0vw;
    }

    footer {
        margin-top: 45vh;
        bottom: 0%;
    }
}

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    body {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    footer {
        margin-top: 50vh;
        bottom: 0;
    }
}

@media (min-width:320px) and (max-width:767px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }

    footer {
        margin-top: 0%;
        bottom: 0%;
    }
}